<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="callSettersOnNulls" value="true" />
    	<!-- changes from the defaults -->
	    <setting name="lazyLoadingEnabled" value="false"/>
	    <!-- JdbcType enumeration. Most common are: NULL, VARCHAR and OTHER -->
	    <setting name="jdbcTypeForNull" value="NULL"/>
	    <setting name="defaultStatementTimeout" value="30"/>
	    <setting name="logPrefix" value="dao."/>  
	    <setting name="logImpl" value="STDOUT_LOGGING" /> 
	</settings>
	<!-- <plugins>
	    <plugin interceptor="com.ck.base.dao.mybatis.interceptor.TracerInterceptor">
	    </plugin>
	</plugins> -->
</configuration>